# Auto generated interface
src/frontend/traversal.h
src/frontend/traversal_gpu.h
src/frontend/traversal_cpu.h

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Haskell
*.hi

# Configuration file
*.conf

# Float buffers
*.fbuf

# Image files
*.png

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Tests results
*.err
*.out
